p, h1, h2, h3 {
    color : gray;
}

.black_bg, .color_white {
    color : white;
    background-color : black;
}

#chocolate > li {
    color : chocolate;
}

#lime > li {
    color : lime;
}

table td {
    color : olive;
}

.blue {
    color : white;
    background-color : blue;
}

.red {
    color : white;
    background-color : red;
}
/* +는 인접하다는 뜻 */
.red + div {
    background-color : purple;
}

table h1 + tr > td {
    color : salmon;
}
