html {
    font-size: 10px;
}

ol, ol li {
    font-size:1.2rem;
    /*  10 * 12 = 12px */
}

ul, ul li  {
    font-size:1.2em;
    /* ul = 10 * 1.2 = 12px */
    /* ul li = 10 * 1.2 * 1.2 = 14.4 */
}

/* 세로길이 변화에 따라 변함 */
.vh {
    font-size:5vh;
}

/* 가로길이 변화에 따라 변함 */
.vw {
    font-size:5vw;
}

